body { 
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.center{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
