body { 
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.center{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#container {
  position: relative;
}
#container canvas, #root {
  position: absolute;
}

canvas {
  border: 1px solid black;
}